<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TrailPin.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>567702B784752FEBC017ACD59B2755A4E6DD9E68</string>
				<key>dateExpires</key>
				<string>2026/6/8</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>JP4TN5PTS3.com.zzoutuo.TrailPin</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>JP4TN5PTS3</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>TrailPin.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fccd3cdc-4a4c-4784-b881-44e8c9156567</string>
				<key>dateExpires</key>
				<string>2027/1/23</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.zzoutuo.TrailPin</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>JP4TN5PTS3</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
